*
!*/
!/.gitignore
!/LICENSE.md
!/README.md
!/setup.py
!/nl2code/**/*.py
!/bin/*.bash
!/examples/*.py
!/examples/*.ipynb
!/examples/django/*.py
!/examples/django/test/*.py
!/examples/django/*.ipynb
!/test/**/*.py
!/result/*.log
!/images/*.png
