*
!*/
!/.gitignore
!/LICENSE.md
!/README.md
!/setup.py
!/nl2code/**/*.py
!/bin/*.bash
!/nl2code_examples/*.py
!/nl2code_examples/*.ipynb
!/nl2code_examples/django/*.py
!/nl2code_examples/django/test/*.py
!/nl2code_examples/django/*.ipynb
!/nl2code_examples/hearthstone/*.py
!/nl2code_examples/hearthstone/test/*.py
!/nl2code_examples/hearthstone/*.ipynb
!/test/**/*.py
!/result/**/*.log
!/images/*.png
