*
!*/
!.gitignore
!LICENSE.md
!README.md
!django-loss.png
!requirements.txt
!gpu-requirements.txt
!main.py
!src/**/*.py
!test/**/*.py
!test/test_dataset/*
!scripts/**/*.bash

!/nl2code/**/*.py
!/bin/*.bash
!/examples/django/*.py
!/examples/django/test/*.py
!/examples/django/*.ipynb
